<?xml version="1.0"?>
<!--
/**
* Copyright © 2018 CollinsHarper. All rights reserved.
* See LICENSE.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <cybersource_bank_transfer>
                <active>0</active>
                <title>CyberSource Bank Transfer</title>
                <model>CyberSource\BankTransfer\Model\Payment</model>
                <ideal_currency>EUR</ideal_currency>
                <sofort_currency>EUR</sofort_currency>
                <bancontact_currency>EUR</bancontact_currency>
                <ideal_title>CyberSource iDEAL Bank Transfer</ideal_title>
                <sofort_title>CyberSource Sofort Bank Transfer</sofort_title>
                <bancontact_title>CyberSource Bancontact Bank Transfer</bancontact_title>
                <ideal_transaction_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <sofort_transaction_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <bancontact_transaction_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </cybersource_bank_transfer>
            <cybersource_bank_transfer_ideal>
                <active>0</active>
                <title>CyberSource iDEAL Bank Transfer</title>
                <model>CyberSource\BankTransfer\Model\Payment\Ideal</model>
                <sort_order>20</sort_order>
                <allowspecific>0</allowspecific>
                <specificcountry>NL</specificcountry>
                <can_capture_partial>0</can_capture_partial>
            </cybersource_bank_transfer_ideal>
            <cybersource_bank_transfer_sofort>
                <active>0</active>
                <title>CyberSource Sofort Bank Transfer</title>
                <model>CyberSource\BankTransfer\Model\Payment\Sofort</model>
                <sort_order>21</sort_order>
                <allowspecific>0</allowspecific>
                <specificcountry>AT,BE,DE,ES,IT,NL</specificcountry>
                <can_capture_partial>0</can_capture_partial>
            </cybersource_bank_transfer_sofort>
            <cybersource_bank_transfer_bancontact>
                <active>0</active>
                <title>CyberSource Bancontact Bank Transfer</title>
                <model>CyberSource\BankTransfer\Model\Payment\Bancontact</model>
                <sort_order>22</sort_order>
                <allowspecific>0</allowspecific>
                <specificcountry>BE</specificcountry>
                <can_capture_partial>0</can_capture_partial>
            </cybersource_bank_transfer_bancontact>
        </payment>
    </default>
</config>
