<?xml version="1.0"?>
<!--
/**
* Copyright © 2018 CollinsHarper. All rights reserved.
* See LICENSE.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="cybersource_section" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                
                <group id="altpay_section" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <group id="cybersource_klarna" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Klarna</label>
                        <field id="active" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/cybersourceklarna/active</config_path>
                        </field>
                        <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="1">
                            <label>Title</label>
                            <validate>required-entry</validate>
                            <config_path>payment/cybersourceklarna/title</config_path>
                            <depends><field id="active">1</field></depends>
                        </field>
                        <field id="enableDefaultMid" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Use Default Merchant ID</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/cybersourceklarna/use_default_mid</config_path>
                            <depends><field id="active">1</field></depends>
                        </field>
                        <field id="merchant_id" translate="label" type="text"  sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Merchant ID</label>
                            <validate>required-entry</validate>
                            <config_path>payment/cybersourceklarna/merchant_id</config_path>
							<comment>Use this Merchant ID for Klarna transactions</comment>
                            <depends>
                                <field id="active">1</field>
                                <field id="enableDefaultMid">0</field>
                            </depends>            
                        </field>
                        <!-- p12 cert start -->
                            <field id="p12_accesskey" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="0">
                                <label>Key Password</label>
                                <frontend_model>CyberSource\Core\Block\Adminhtml\System\Config\Obscure</frontend_model>
                                <config_path>payment/cybersourceklarna/p12_accesskey</config_path>
                                <validate>no-whitespace</validate>
                                <depends>
                            <field id="active">1</field>                            
                            <field id="enableDefaultMid">0</field>
                            </depends>
                            </field>
                            <!-- P12 Certificate File Upload Field -->
                            <field id="klarna_p12_certificate" translate="label" type="file" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                                <label>Certificate File</label>
                                <backend_model>CyberSource\Core\Model\Config\Backend\CertificateUpload</backend_model>
                                <config_path>payment/cybersourceklarna/klarna_p12_certificate</config_path>
                                <tooltip><![CDATA[Allowed file types: .p12]]></tooltip>
                                <depends>
                            <field id="active">1</field>                            
                            <field id="enableDefaultMid">0</field>
                            </depends>
                            </field>
                        <!-- p12 cert end -->
                        <field id="order_status" translate="label" type="select" sortOrder="14" showInDefault="1" showInWebsite="0" showInStore="1">
                            <label>New order status</label>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                            <config_path>payment/cybersourceklarna/order_status</config_path>
                            <depends><field id="active">1</field></depends>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="0" showInStore="1">
                            <label>Sort Order</label>
                            <validate>validate-number</validate>
                            <config_path>payment/cybersourceklarna/sort_order</config_path>
                            <depends><field id="active">1</field></depends>
                        </field>
                        <field id="allowspecific" translate="label" type="allowspecific" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>Payment from Applicable Countries</label>
                            <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                            <config_path>payment/cybersourceklarna/allowspecific</config_path>
                            <depends><field id="active">1</field></depends>
                        </field>
                        <field id="specificcountry" translate="label" type="multiselect" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>Payment from Specific Countries</label>
                            <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                            <config_path>payment/cybersourceklarna/specificcountry</config_path>
                            <validate>required-entry</validate>
                            <depends>
                                <field id="active">1</field>
                                <field id="allowspecific">1</field>
                            </depends>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
