<?xml version="1.0"?>
<!--
  ~ Copyright © 2020 CyberSource. All rights reserved.
  ~ See accompanying LICENSE.txt for applicable terms of use and license.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data">
        <observer name="googlepay_payment_gateway_data_assign" instance="CyberSource\GooglePay\Observer\DataAssignObserver" />
    </event>
</config>
