<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 CyberSource. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_cybersource_secureacceptance_tokenrequest">
        <observer name="secure_token_validate" instance="CyberSource\SecureAcceptance\Observer\SecureTokenObserver"/>
    </event>
</config>
