<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="CyberSource\ThreeDSecure\Gateway\Request\Cca\BuilderStrategy">
        <arguments>
            <argument name="isAdminhtml" xsi:type="boolean">true</argument>
        </arguments>
    </type>
</config>
