<?xml version="1.0"?>
<!--
/**
* Copyright © 2018 CollinsHarper. All rights reserved.
* See LICENSE.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <chcybersource>
                <active>1</active>
                <dm_fail_sender>general</dm_fail_sender>
                <dm_fail_template>payment_cybersource_section_cybersource_dm_dm_fail_template</dm_fail_template>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <address_check_enabled>0</address_check_enabled>
                <address_force_normal>0</address_force_normal>
                <sort_order>10</sort_order>
                <fingerprint_enabled>1</fingerprint_enabled>
                <payment_processor>aibms</payment_processor>
                <org_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <report_password backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <transaction_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <rest_key_value backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <path_to_wsdl>https://ics2ws.ic3.com/commerce/1.x/transactionProcessor/CyberSourceTransaction_1.219.wsdl</path_to_wsdl>
                <path_to_test_wsdl>https://ics2wstesta.ic3.com/commerce/1.x/transactionProcessor/CyberSourceTransaction_1.219.wsdl</path_to_test_wsdl>
                <enable_dm_cron>1</enable_dm_cron>
                <show_exact_error>0</show_exact_error>
            </chcybersource>
        </payment>
    </default>
</config>
