<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 CyberSource. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <csp>
            <mode>
                <storefront_checkout_index_index>
                    <report_only>1</report_only>
                </storefront_checkout_index_index>
                <admin_sales_order_create_index>
                    <report_only>1</report_only>
                </admin_sales_order_create_index>
            </mode>
            <policies>
                <storefront_checkout_index_index>
                    <scripts>
                        <inline>1</inline>
                    </scripts>
                </storefront_checkout_index_index>
                <admin_sales_order_create_index>
                    <scripts>
                        <inline>1</inline>
                    </scripts>
                </admin_sales_order_create_index>
            </policies>
        </csp>
        <payment>
            <chcybersource>
                <secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <sop_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <auth_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <sop_auth_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <service_url>https://secureacceptance.cybersource.com</service_url>
                <service_url_test>https://testsecureacceptance.cybersource.com</service_url_test>
                <secureacceptance_type>web</secureacceptance_type>
                <order_status>processing</order_status>
                <active>1</active>
				<auth_active>0</auth_active>
				<sop_auth_active>0</sop_auth_active>
                <model>CyberSourceSAGatewayFacade</model>
                <payment_action>authorize</payment_action>
                <use_iframe>0</use_iframe>
                <use_iframe_sandbox>1</use_iframe_sandbox>
                <title>Cybersource</title>
                <debug>1</debug>
                <ignore_avs>0</ignore_avs>
                <ignore_cvn>0</ignore_cvn>
                <allowspecific>0</allowspecific>
                <specificcountry>GB,US</specificcountry>
                <developer_id>default</developer_id>
                <can_authorize>1</can_authorize>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_capture_vault>1</can_capture_vault>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <cctypes>VI</cctypes>
                <date_delim>-</date_delim>
                <ccfields>card_cvn,card_expiry_date,card_number</ccfields>
                <cc_year_length>4</cc_year_length>
                <token_skip_decision_manager>1</token_skip_decision_manager>
                <token_skip_auto_auth>1</token_skip_auto_auth>
                <token_pass_expiration_date>0</token_pass_expiration_date>
                <csrf_token_expiration_lifetime>600</csrf_token_expiration_lifetime>
            </chcybersource>
            <chcybersource_cc_vault>
                <model>CyberSourceSACreditCardVaultFacade</model>
                <title>CyberSource Stored Cards</title>
                <can_use_internal>1</can_use_internal>
            </chcybersource_cc_vault>
        </payment>
    </default>
</config>
