<?xml version="1.0"?>
<!--
  ~ Copyright © 2020 CyberSource. All rights reserved.
  ~ See accompanying LICENSE.txt for applicable terms of use and license.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="cybersource_section" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <group id="cybersource_googlepay" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Pay</label>
                    <field id="active" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/cybersource_googlepay/active</config_path>
                        <comment>IMPORTANT: Google Pay API requires that your site is running through HTTPS!</comment>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/cybersource_googlepay/title</config_path>
                        <depends><field id="active">1</field></depends>
                        <validate>required-entry</validate>
                    </field>
                    <field id="payment_action" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Action</label>
                        <source_model>CyberSource\GooglePay\Model\Adminhtml\Source\PaymentAction</source_model>
                        <config_path>payment/cybersource_googlepay/payment_action</config_path>
                        <depends><field id="active">1</field></depends>
                    </field>
                    <field id="cctypes" translate="label" type="multiselect" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Credit Card Types</label>
                        <source_model>\CyberSource\GooglePay\Model\Adminhtml\Source\CcType</source_model>
                        <config_path>payment/cybersource_googlepay/cctypes</config_path>
                        <comment>NOTE: Visa Card will be selected by default if no card is selected</comment>
						<validate>required-entry</validate>
                        <depends><field id="active">1</field></depends>
                    </field>
                    <field id="google_merchant_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="1">
                        <label>Google Pay Merchant ID</label>
                        <config_path>payment/cybersource_googlepay/google_merchant_id</config_path>
                        <depends><field id="active">1</field></depends>
                    </field>
                    <field id="display_name" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="1">
                        <label>Merchant Display Name</label>
                        <config_path>payment/cybersource_googlepay/display_name</config_path>
                        <depends><field id="active">1</field></depends>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Payment From Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/cybersource_googlepay/allowspecific</config_path>
                        <depends><field id="active">1</field></depends>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Payment From Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/cybersource_googlepay/specificcountry</config_path>
                        <validate>required-entry</validate>
                        <depends>
                            <field id="active">1</field>
                            <field id="allowspecific">1</field>
                        </depends>
                    </field>
                    <field id="button_pdp_is_visible" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Google Pay button on Product Page</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/cybersource_googlepay/button_pdp_is_visible</config_path>
                        <depends><field id="active">1</field></depends>
                    </field>
                    <field id="button_minicart_is_visible" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Google Pay button in minicart</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/cybersource_googlepay/button_minicart_is_visible</config_path>
                        <depends><field id="active">1</field></depends>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="1">
                        <label>Sort Order</label>
                        <config_path>payment/cybersource_googlepay/sort_order</config_path>
                        <depends><field id="active">1</field></depends>
                        <validate>validate-number</validate>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
