<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 CyberSource. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="cybersource_paypal_config_provider" xsi:type="object">CyberSource\PayPal\Model\Ui\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="cybersourcepaypal" xsi:type="const">CyberSource\PayPal\Model\Config::CODE</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Quote\Model\QuoteRepository\SaveHandler">
        <plugin name="paypal-cartitem" type="CyberSource\PayPal\Model\Express\QuotePlugin"/>
    </type>

    <type name="Magento\Vault\Model\Ui\TokensConfigProvider">
        <arguments>
            <argument name="tokenUiComponentProviders" xsi:type="array">
                <item name="cybersourcepaypal" xsi:type="object">CyberSource\PayPal\Model\Ui\TokenUiComponentProvider</item>
            </argument>
        </arguments>
    </type>

</config>
