#payment_us_cybersource_section_cybersource_general_cybersourceapi_cybersourceapi_p12_general_p12_certificate_delete,#payment_us_cybersource_section_cybersource_general_cybersourceapi_cybersourceapi_p12_general_p12_certificate_delete + label

,#payment_us_cybersource_section_altpay_section_cybersource_klarna_klarna_p12_certificate_delete,#payment_us_cybersource_section_altpay_section_cybersource_klarna_klarna_p12_certificate_delete + label

,#payment_us_cybersource_section_altpay_section_cybersource_bank_transfer_cybersource_bank_transfer_ideal_ideal_p12_certificate_delete,#payment_us_cybersource_section_altpay_section_cybersource_bank_transfer_cybersource_bank_transfer_ideal_ideal_p12_certificate_delete + label

,#payment_us_cybersource_section_altpay_section_cybersource_bank_transfer_cybersource_bank_transfer_sofort_sofort_p12_certificate_delete,#payment_us_cybersource_section_altpay_section_cybersource_bank_transfer_cybersource_bank_transfer_sofort_sofort_p12_certificate_delete + label

,#payment_us_cybersource_section_altpay_section_cybersource_bank_transfer_cybersource_bank_transfer_bancontact_bancontact_p12_certificate_delete,#payment_us_cybersource_section_altpay_section_cybersource_bank_transfer_cybersource_bank_transfer_bancontact_bancontact_p12_certificate_delete + label

,#payment_us_cybersource_section_altpay_section_cybersource_wechatpay_wechatpay_p12_certificate_delete,#payment_us_cybersource_section_altpay_section_cybersource_wechatpay_wechatpay_p12_certificate_delete + label
{
    display: none;
}

#row_payment_us_cybersource_section_cybersource_general_cybersourceapi_cybersourceapi_p12_general_p12_certificate .with-tooltip 

,#row_payment_us_cybersource_section_altpay_section_cybersource_klarna_klarna_p12_certificate .with-tooltip

,#row_payment_us_cybersource_section_altpay_section_cybersource_bank_transfer_cybersource_bank_transfer_ideal_ideal_p12_certificate .with-tooltip

,#row_payment_us_cybersource_section_altpay_section_cybersource_bank_transfer_cybersource_bank_transfer_sofort_sofort_p12_certificate .with-tooltip

,#row_payment_us_cybersource_section_altpay_section_cybersource_bank_transfer_cybersource_bank_transfer_bancontact_bancontact_p12_certificate .with-tooltip

,#row_payment_us_cybersource_section_altpay_section_cybersource_wechatpay_wechatpay_p12_certificate .with-tooltip
{
    font-size: 14px;
}

#row_payment_us_cybersource_section_cybersource_general_cybersourceapi_cybersourceapi_p12_general_p12_certificate .tooltip

,#row_payment_us_cybersource_section_altpay_section_cybersource_klarna_klarna_p12_certificate .tooltip

,#row_payment_us_cybersource_section_altpay_section_cybersource_bank_transfer_cybersource_bank_transfer_ideal_ideal_p12_certificate .tooltip

,#row_payment_us_cybersource_section_altpay_section_cybersource_bank_transfer_cybersource_bank_transfer_sofort_sofort_p12_certificate .tooltip

,#row_payment_us_cybersource_section_altpay_section_cybersource_bank_transfer_cybersource_bank_transfer_bancontact_bancontact_p12_certificate .tooltip

,#row_payment_us_cybersource_section_altpay_section_cybersource_wechatpay_wechatpay_p12_certificate .tooltip
{
    top: -40px;
}
